@CHARSET "UTF-8";
@import "uikit-button.css";
@import "uikit-form.css";
@import "uikit-datepicker.css";
@import "uk-icon.css";

html, body
{
	color: #0f20a1;
	background-color: #a6c8d2;
	font-size: 18pt;
	text-align: center;
}

.banner
{
	background-image: url(../images/banner.jpg);
	width: 1000px;
	height: 163px;
	margin-left: auto;
	margin-right: auto
}

.nav
{
	background-color: #7681d2;
	width: 1000px;
	height: 50px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
}

.nav > ul
{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.nav > ul > li
{
	float: left;
	margin-top: 8px;
	font-size: 20pt;
	flex-grow: 1;
}

a:link, a:visited, .nav > ul > li > a:link, .nav > ul > li > a:visited
{
	cursor: pointer;
	color: #0f20a1;
	text-decoration: none;
}

.nav > ul > li > a:hover, .nav > ul > li > span:hover, .nav > ul > li > ul.sub_nav > li > a:hover
{
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.5;
}

.nav > ul > li.dropdown > span#title::after {
	content: url('images/blackArrowDown.png');
}

.nav > ul > li.dropdown:hover > ul {
	display: block;
}

ul.sub_nav
{
	width: 62.5px;
	height: auto;
	margin: 0;
	left: 32px;
	position: relative;
	display: none;
	list-style-type: none;
	text-align: center;
}

ul.sub_nav > li
{
	background-color: #7681d2;
	height: auto;
	width: 100px;
	top: 4px;
	bottom: 5px;
	left: -40px;
	margin-top: 2px;
	padding-bottom: 5px;
	position: relative;
	border: 1px solid #000;
	clear: both;
	font-size: 14pt;
}

.main
{
	background-color: #7681d2;
	width: 990px;
	padding: 5px;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
}

.preview
{
	width: 800px;
	height: auto;
	border: 1px solid #000;
	padding: 2px;
}

.selected
{
	color: #2f42c3;
}

form.uk-form input,
form.uk-form select {
	font-size: 16pt;
	height: 35px !important;
}

form.uk-form select {
	height: 35px !important;
}

div.uk-datepicker {
	width: 310px;
}

div.validate {
	color: #f00;
}

div#modal-title {
	color: #000;
	background-color: #a6c8d2;
	font-size: 22pt;
	width: 107.5%;
	height: auto;
	position: relative;
	left: -20px;
    top: -20px;
	margin-bottom: -35px;
	-webkit-border-radius: 5px 5px 0px 0px; /*creates rounded edges*/
	-moz-border-radius: 5px;
	border-radious: 5px;
	text-align: center;
}

span#modal-close {
	float: right;
	margin-right: 5px;
	margin-top: -2px;
	cursor: pointer;
}

span#modal-close:hover {
	opacity: 0.6;
}
