div.nav
    ul
        li
            a(href='/about', title="About") About
        li.dropdown
            span#title
                |Register
            ul.sub_nav
                li
                    a(href='/register/hedgehog', title="Register Hedgehog") Register Hedgehog
                li
                    a(href='/register/litter', title="Register Litter") Register Litter
                li
                    a(href='/register/update_ownership', title="Updatd Ownership", attr) Update Ownership
                li
                    a(href='/register/update_health', title="Update Health", attr) Update Health
                li
                    a(href='/register/apply_for_breeder_affix', title="Apply for Breeder Affix", attr) Apply for Breeder Affix            
        li.dropdown
            span#title
                a(href='https://africanpygmyhedgehogclub.co.uk/club_breeders', title="Club Breeders") Club Breeders
            ul.sub_nav(style="margin-left: 40px;")
                li
                    a(href='https://africanpygmyhedgehogclub.co.uk/club_breeders/ethics', title="Eithics") Ethics
                li
                    a(href='https://africanpygmyhedgehogclub.co.uk/become_aproved/', title="Become Aproved") Become Aproved
        li
            a(href='https://www.facebook.com/groups/africanpygmyhedgehogclubuk/', title="Facebook", target="_blank") Facebook
        li
            a(href='http://africanpygmyhedgehogclub.co.uk/', title="Club website", target="_blank") Club Website
            
        
                        
                    
                        
                    
            
        
