table(border="1" style="text-align: center;")
    tr
        td(colspan="2") 
            h2 #{type} Registration Form 
            
    each val, name in fields
        tr
            td= name.replace(/_/g, ' ').replace(/\b[a-z]/g, letter => letter.toUpperCase())
            td= val
        
